/*HEADER*/

/*NAV*/

nav {
  height: 60px;
  width: 100%;

  color: white;
  background-color: #0084fd;
}

nav .container {
  display: flex;
  justify-content: space-between;

  height: 100%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

nav li {
	display: inline-block;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.nav-button {
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
}

.nav-button:hover {
  cursor: pointer;
}

nav .fa-bars {
  display: none;
  font-size: 20px;
}

nav .fa-bars:hover {
  cursor: pointer;
}

/* NAV - TABLET and MOBILE ADAPTATION */

@media screen and (max-width: 768px) {
  nav .container {
      width: 90%;
      max-width: 768px;
  }

  .nav-right > .desktop {
    display: none;
  }

  nav .fa-bars {
    display: block;
  }
}

/* JUMBOTRON */

.jumbotron .container {
  display: flex;
  flex-direction: column;

  height: 1000px;

  margin-top: 40px;
}

.jumbotron .row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 30%;
  height: 100%;

  border-radius: 20px;
  padding: 20px 20px 0 20px;

  background-color: #b5ddff;
}

.card-big {
  flex-direction: row;

  width: 65%;
  padding-bottom: -20px;
}

.card-big-left {
  width: 50%;

  text-align: left;
}

.card-big-right {
  display: flex;
  align-self: flex-end;

  width: 50%;

}

.card-big-button {
  display: block;

  border: none;
  border-radius: 20px;
  
  margin-top: 25px;
  padding: 10px 50px;

  color: white;
  font-weight: bold;
  background-color: #0084fd;
  margin-bottom: 20px;
}

.card-big-button > span {
  margin-left: 5px;
}

.card-big-button:hover {
  cursor: pointer;
}

.card > i {
  color: #0084fd;
  font-size: 50px;
}

.card > h2,
.card-big-left > h2 {
  color: #0084fd;
  font-size: 25px;
  font-weight: bold;

  margin: 25px 0;
}

.card > span,
.card-big-left > span {
  color: #5a6e7f;
  font-weight: 600;
  line-height: 30px;

  margin-bottom: 20px;
}

/* JUMBOTRON - TABLET ADAPTATION */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .jumbotron .container {
    height: 950px;
    width: 95%;
  }

  .small-card {
    padding: 10px;
  }

  .jumbotron h2 {
    font-size: 1.2em;
  }
  
  .jumbotron span{
    font-size: 0.7em;
    line-height: 20px;
  }

  .card-big {
    flex-direction: column;
    justify-content: space-between;
  }

  .card-big-left,
  .card-big-right {
    width: 100%;
  }

  .card-big-right > img {
    width: 280px;
  }
}

/* JUMBOTRON - MOBILE ADAPTATION */

@media screen and (max-width: 480px) {

  .jumbotron .container {
    height: 1240px;
    width: 95%;
  }

  .jumbotron {
    margin-bottom: 400px;
    margin-top: -30px;
  }

  .jumbotron h2 {
    font-size: 1.2em;
    text-align: center;
  }
  .jumbotron span{
    font-size: 0.7em;
    line-height: 18px;
  }

  .jumbotron .row {
    flex-direction: column;

    margin-top: 0px;
  }
  
  .jumbotron .card {
    width: 90%;
    margin-top: 40px;
    
  }
  .card-big {
    flex-direction: column;
    justify-content: space-between;
  }

  .card-big-left,
  .card-big-right {
    width: 100%;
  }
  .card-big-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-big-right {
    justify-content: center;
    margin-top: 30px
  }
  
  .card-big-right > img {
    width: 200px;
  }

  .small-card {
    padding: 15px;
  }

  .small-card > i {
    font-size: 30px;
  }
}