/* MAIN */

/* SECTION 1 */

.first-section {
  background-color: #9792e4;
}

.first-section .container {
  display: flex;

  width: 75%;
  max-width: 800px;

  padding: 70px 0;
}


.first-section-left,
.first-section-right {
  display: flex;
  flex-direction: column;
}

.first-section-left {
  justify-content: center;

  color: white;
  width: 40%;
}

.first-section-left > h2 {
  margin-top: 80px;

  font-size: 30px;
  font-weight: bold;
}

.first-section-left > span {
  margin-top: 60px;

  line-height: 24px;
}

.first-section-right {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
  
  width: 60%;
}

.development-card {
  width: 80%;

  padding: 10px 40px;
  border-radius: 40px;

  background-color: white;
}

.development-card > h2 {
  margin: 15px 0;

  font-size: 25px;
  font-weight: bold;
}

.development-card > span {
  display: block;

  font-style: italic;
  line-height: 25px;
}

.development-card > .fa-arrow-down {
  margin-top: 25px;
  padding: 14px 17px;
  border-radius: 100%;

  font-size: 22px;

  background-color: #9792e4;
}

.development-card > .fa-arrow-down:hover {
  cursor: pointer;
}

/* SECTION 1 - TABLET and MOBILE ADAPTATION*/

@media screen and  (max-width: 768px) {

  .first-section .container {
    flex-direction: column;
    width: 95%;
  }

  .first-section-left,
  .first-section-right {
    width: 100%;
  }

  .development-card {
    width: 100%;
    margin-top: 50px;
  }
}

/* SECTION 2 */

.second-section {
  text-align: center;
  margin-top: 50px;
}

.second-section h2 {
  margin: 20px 0;

  font-size: 35px;
  font-weight: bold;
  color: #9792e4;
}

.second-section p {
  font-size: 14px;
  line-height: 25px;
}

.partner-card {
  display: flex;
  align-items: center;

  height: 180px;

  border-radius: 30px;
  margin: 20px 0;
  padding: 0 20px;

  color: white;
  text-align: left;
  background-color: #9792e4;
}

.partner-card-left {
  width: 50%;
  padding-right: 20px;
}

.partner-card-left > img {
  width: 150px;
  border-radius: 100%;
}

.partner-card-right span {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif
}

.partner-card-right h3 {
  margin-top: 15px;

  font-size: 14px;
  font-weight: bold;
}

/* SECTION 2 - TABLET ADAPTATION*/

@media screen and (min-width: 481px) and (max-width: 768px) { 
  .second-section .container {
    width: 95%;
  }
}

/* SECTION 2 - MOBILE ADAPTATION*/

@media screen and (max-width: 480px) {
  .second-section .container {
    width: 95%;
  }

  .partner-card {
    flex-direction: column;

    height: auto;

    padding: 20px;

    text-align: center;
  }
}

/* SECTION 3 */

.third-section {
 
  margin-top: 60px;
  padding-bottom: 45px;

  text-align: center;

  background-color: #9792e4;
}


.third-section > h2 {
  padding: 45px 0;

  color: white;
  font-size: 24px;
  font-weight: bold;
}

.third-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.benefit-card {
  

  display: inline;

  padding: 20px;
  border-radius: 15px;

  text-align: left;

  background-color: white;
}

.benefit-card > h3 {
  font-size: 40px;
  font-weight: bold;
  color: #9792e4;
  line-height: 50px;
}

.benefit-card > span {
  
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #9792e4;
}

.benefit-card > p {
  font-size: 12px;
  line-height: 20px;
  color: dimgray;
}

.benefit-card > button {
  margin-top: 20px;

  padding: 5px 35px;
  border: none;
  border-radius: 20px;

  font-weight: 12px;

  color: white;
  background-color: #9792e4;
}

.benefit-card > button:hover {
  cursor: pointer;
}

/* SECTION 3 - TABLET ADAPTATION */

@media screen and (min-width: 481px) and (max-width: 768px) { 
  .third-section .container {
    width: 95%;
  }

  .third-section .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* SECTION 3 - MOBILE ADAPTATION */

@media screen and (max-width: 480px) {
  .third-section .container {
    width: 95%;
  }

  .third-section .container {
    grid-template-columns: 1fr;
  }
}  

/* SECTION 4 */

.fourth-section {
  padding: 60px 0;
}

.fourth-section .container {
  display: flex;
}

.fourth-section-left {
  width: 70%;
}

.fourth-section-left h2 {
  color: #9792e4;
  font-size: 35px;
  font-weight: bold;
}

.fourth-section p {
  margin: 30px 0;
  font-size: 14px;
  line-height: 24px;
}

.fourth-section-right {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  margin-left: 40px;
}

.fourth-section-right > img {
  width: 150px;
  border-radius: 100%;
}

.fourth-section-right > span {
  position: absolute;
  right: 20px;
  top: -10px;
  
  font-size: 100px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #9792e4;
}

.fourth-section-right > p {
  color: #9792e4;
  font-weight: bold;
  font-size: 16px;
}

.fourth-section-right > button {
  padding: 8px 14px;
  border: none;
  border-radius: 20px;

  font-size: 12px;
  color: white;
  background-color: #9792e4;
}

.fourth-section-right > button:hover {
  cursor: pointer;
}

/* SECTION 4 - TABLET and MOBILE ADAPTATION */

@media screen and (max-width: 480px) {
  .fourth-section .container {
    flex-direction: column;
  }

  .fourth-section-left {
    width: 100%;
  }
}

/* SECTION 5 */

.fifth-section {
  padding: 40px 0 20px 0;

  color: white;
  text-align: center;

  background-color: #9792e4;
}

.fifth-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifth-section h3 {
  font-size: 14px;
  font-weight: lighter;
}

.fifth-section h2 {
  margin: 20px 0;

  font-size: 30px;
  font-weight: bold;
}

.fifth-section span {
  font-weight: bold;
  font-size: 50px;
  color: #fdc15f;
}

.fifth-section p {
  margin: 20px 0;
  width: 320px;

  font-size: 12px;
}

.fifth-section button {
  padding: 15px 50px;
  border: none;
  border-radius: 30px;

  font-size: 12px;
  color: #9792e4;

  background-color: white;
}

.fifth-section button:hover {
  cursor: pointer;
}